[Desktop Entry]
Version=1.0
Type=Application
Name=Postman
X-AppImage-Version={version}
Comment=Supercharge your API workflow.
Exec={entrypoint}
Icon={icon}
Categories=Network;Development;
StartupNotify=true
Keywords=postman;Postman;

[AppImage Creator]
Entrypoint=./Postman/app/postman
Icon=./Postman/app/resources/app/assets/icon.png
Version-Cmd=cat ./Postman/app/resources/app/package.json | jq -r  .version
